# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model / cache (optional but recommended)
.cache/
